{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "brace-style": [
      2,
      "1tbs"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "dot-location": [
      2,
      "property"
    ],
    "indent": [
      2,
      "tab"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "quotes": [
      2,
      "double"
    ],
    "radix": [
      2
    ],
    "semi": [
      2,
      "always"
    ]
  }
}