{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "block-scoped-var": [2],
    "dot-location": [
      2,
      "property"
    ],
    "guard-for-in": [2],
    "no-else-return": [2],
    "no-process-env": [2],
    "no-self-compare": [2],
    "no-throw-literal": [2],
    "no-void": [2],
    "radix": [2],
    "brace-style": [
      2,
      "1tbs"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "indent": [
      2,
      "tab"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-underscore-dangle": [0],
    "one-var": [
      2,
      "never"
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "padded-blocks": [
      2,
      "never"
    ],
    "quotes": [
      2,
      "double"
    ],
    "space-after-keywords": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "space-in-brackets": [
      2,
      "never"
    ],
    "space-in-parens": [
      2,
      "never"
    ]
  }
}
